@model IEnumerable<ECommerce.Core.Entities.CategoryType>
@{
    ViewData["Title"] = "Home Page";
}
<div class="container position-relative">
    <h1>Starter Page</h1>
    <p>Esse dolorum voluptatum ullam est sint nemo et est ipsa porro placeat quibusdam quia assumenda numquam molestias.</p>
    <nav class="breadcrumbs">
        <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Starter Page</li>
            <ul>
             @foreach(var CategoryType in Model)
            {   
                <li>
                <h4>@CategoryType.Name</h4>
                <ul>

                    @foreach(var product in CategoryType.products)
                    {
                        <li>
                            <a asp-action="productDetails" asp-controller="Product" asp-route-id="@product.Id">@product.Name</a>
                                    <a asp-action="EditProduct" asp-controller="Product" asp-route-id="@product.Id" class="btn btn-secondary mb-5 mt-5">

                                        Edit this product
                                    </a>

                                    <a href="javescript:;" class="text-decoration-none btn btn-secondary mb-5 mt-5 deleteClass" data-id="@product.Id" style="background-color:red">
                                        Delete this product

                                    </a>

                        </li>
                    }
                </ul>
                </li>
                 
            }
         </ul>
        </ol>
    </nav>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            $('.deleteClass').on('click', function () {
                var btn = $(this);

                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: "btn btn-danger mx-2",
                        cancelButton: "btn btn-light"
                    },
                    buttonsStyling: false
                });
                swalWithBootstrapButtons.fire({
                    title: "Are you sure that you need to delete this game?",
                    text: "You won't be able to revert this!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Yes, delete it!",
                    cancelButtonText: "No, cancel!",
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: `/Product/Delete/${btn.data('id')}`,
                            method: 'DELETE',
                            success: function () {
                                swalWithBootstrapButtons.fire({
                                    title: "Deleted!",
                                    text: "Your file has been deleted.",
                                    icon: "success"
                                });
                                btn.parents('li').fadeOut();//دي كده هتساعدني اميح ال tr كله من غير refresh
                            },
                            error: function () {
                                swalWithBootstrapButtons.fire({
                                    title: "!oooops...",
                                    text: "something went wrong",
                                    icon: "error"
                                });
                            }
                        });

                    }
                });

            });
        });
    </script>
}
