@model ECommerce.Core.Entities.Product

@{
    ViewData["Title"] = Model.Name;
}
<div class="d-flex justify-content-center align-items-center ">
<a asp-action="EditProduct" asp-route-id="@Model.Id" class="btn btn-secondary mb-5 mt-5" >
   
    Edit this product
    </a>

<a href="javescript:;" class="text-decoration-none btn btn-secondary mb-5 mt-5 deleteClass" data-id="@Model.Id" style="background-color:red">
                        Delete this product

                        </a>


    <style>
        table {
            width: 50%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
            width: 30%;
        }
    </style>

    <hr />

    <table>
        <tbody>
            <tr>
                <th>Name</th>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>@Model.Description</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>@Model.Price</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="@Url.Action("GetProductPicture","Product",new{id=@Model.Id})"</td>
            </tr>
        </tbody>
    </table>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            $('.deleteClass').on('click', function () {
                var btn = $(this);

                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: "btn btn-danger mx-2",
                        cancelButton: "btn btn-light"
                    },
                    buttonsStyling: false
                });
                swalWithBootstrapButtons.fire({
                    title: "Are you sure that you need to delete this game?",
                    text: "You won't be able to revert this!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Yes, delete it!",
                    cancelButtonText: "No, cancel!",
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: `/Product/Delete/${btn.data('id')}`,
                            method: 'DELETE',
                            success: function () {
                                swalWithBootstrapButtons.fire({
                                    title: "Deleted!",
                                    text: "Your file has been deleted.",
                                    icon: "success"
                                });
                               // btn.parents('tr').fadeOut();//دي كده هتساعدني اميح ال tr كله من غير refresh
                            },
                            error: function () {
                                swalWithBootstrapButtons.fire({
                                    title: "!oooops...",
                                    text: "something went wrong",
                                    icon: "error"
                                });
                            }
                        });

                    }
                });

            });
        });
    </script>
}